/*
@filename skin.css
@author fernando trasviña
*/
body
{
	background  : #FAFAFA;
}

div.layout
{
	color       : #999999;
}
	div.layout hr
	{
		border        : none; 
		border-top    : 1px solid #CCCCCC;
		border-bottom : 1px solid #FAFAFA;
	}
	/* Titles */
	div.layout h1
	{
		position : absolute;
		top      : -1000px;
	}
	div.layout h2,
	div.layout h4
	{
		font-family   : Georgia, "Times New Roman", Times, serif;
	}
	div.layout h2
	{ 
		position      : relative; 
		top           : -20px;
		float         : left;
		padding-right : 11px;
		margin        : 0;
		background    : #FAFAFA;
		font-size     : 192%;
		font-style    : oblique;
		color         : #FF6600;
	}
	div.layout h3
	{
		color     : #39B8F4;
		font-size : 15px;
	}
	div.layout h4
	{
		color       : #666666;
		font-size   : 15px;
		margin-top  : 18px;
	}
	div.layout h5
	{
		color       : #666666;
		margin-top  : 16px;
	}
	/* Message */
	div.layout div.message
	{
		padding    : 1em 0;
		text-align : center;
	}
		div.layout div.message div.success,
		div.layout div.message div.notice,
		div.layout div.message div.error
		{
			padding : 0.5em;
			border  : solid 1px #000000;
			color   : #FFFFFF;
		}
		div.layout div.message div.success
		{
			background : #93DFB8;
		}
		div.layout div.message div.notice
		{
			background : #F3F317;
		}
		div.layout div.message div.error
		{
			background : #D29494;
		}
	/* Navigation: Must appear at top right corner of header */
	div.layout div.navigation
	{
		position      : absolute;
		right         : 0px;
		top           : 0px;
		padding-top   : 66px;
		padding-right : 8px;
	}
		div.layout div.navigation a
		{
			color           : #666666;
			font-weight     : bold;
			text-decoration : none;
		
		}
		div.layout div.navigation a:hover
		{
			color : #3286EC;
		}
	div.layout div.header div.content,
	div.layout div.body,
	div.layout div.footer div.content
	{
		width  : 73.84em;
		margin : auto;
	}
	div.layout div.header
	{
		background : #FAFAFA url(images/px_back.jpg) repeat-x;
		height     : 126px;
	}
		div.layout div.header div.content
		{
			position : relative;
		}
			div.layout div.header div.content div.logo
			{
				background-image : url(images/logotipo.jpg);
				height           : 97px;
				width            : 292px;
				position         :relative;
				top              : 25px;
			}
		
			div.layout div.header div.content div.login
			{
				position         : absolute;
				right            : 0px;
				width            : 122px;
				height           : 23px;
				padding-top      : 7px;
				background       : transparent url(images/login.jpg) no-repeat;
				text-align       : center;
			}
			
			div.layout div.header div.content div.login a,
			div.layout div.header div.content div.login a:visited
			{
				color           : #FFFFFF;
				text-decoration : none;
			}

	div.layout div.body
	{
		padding-top : 1em;
	}
		div.layout div.body ul
		{
			margin-top : 16px;
			margin     : 0;
		}
			div.layout div.body ul li
			{
				list-style : none;
			}
		div.layout div.body p
		{
			margin : 1em 0;
		}
		div.layout div.body .highlighted
		{
			color : #FF6600;
		}
		div.layout div.body .dark
		{
			color : #666666;
		}
		div.layout div.body .doctor-name
		{
			color       : #39B8F4;
			font-weight : bold;	
		}
		div.layout div.body div.section-title
		{
			padding-top : 1em;
		}
			div.layout div.body div.section-title hr
			{
				position     : relative; 
				top          : 5px; 
				margin-right : 8px;
			}
		div.layout div.body div.avatar-container
		{
			width:108px;
		}
		div.layout div.body div.content
		{
			width            : 660px; 
			background-color : #FAFAFA; 
			padding-bottom   : 15px;
		}
		div.layout div.body div.banner-container
		{
			width : 191px;
		}
		div.layout div.body div.banner-container img
		{
			margin-bottom : 6px;
		}
		
	div.layout div.footer
	{
		background-color : #EEEEEE;
		height           : 83px;
	}
		div.layout div.footer div.content
		{
			
		}
			div.layout div.footer div.content div.info
			{
				padding : 1em 0.5em;
			}
