.full-height
{
	/* Helpers will handle this */
}

.hard-full-height
{
	/* Helpers will handle this (still not implemented) */
}

.same-height
{
	/* Helpers will handle this */
}

.elastic-height
{
	height : 0;
}

.horizontal-center
{
	margin : 0 auto;	
}

.vertical-center
{
	/* margin : auto 0; */
}

.center
{
	/* margin : auto */
	margin : 0 auto;
}
