.two-columns, .three-columns, .four-columns, .column, .unit, .container
{
	overflow : auto;
}

.two-columns > .column, .two-columns > .container > .column
{
	width : 50%;
}

.column, .two-columns > .fixed-left-column, .two-columns > .container > .fixed-left-column
{
	float : left;
}

.two-columns > .fixed-right-column, .two-columns > .container > .fixed-right-column
{
	float : right;
}

.two-columns > .elastic-column, .two-columns > .container > .elastic-column
{
	/* margin-(right|left) : fixed-column-width; */
}

.three-columns > .column, .three-columns > .container > .column
{
	width : 33.3%;
}

.three-columns > .span-2, .three-columns > .container > .span-2
{
	width : 66.6%;
}

.four-columns > .column, .four-columns > .container > .column
{
	width : 25%;
}

.four-columns > .span-2, .four-columns > .container > .span-2
{
	width : 50%;
}

.four-columns > .span-3, .four-columns > .container > .span-3
{
	width : 75%;
}
